
<%= form_for(@question, method: "get") do |f| %>
    <% if @question.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
        <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="category-imput collection">
      <%= f.label :category,label:"what is the category of the question" %>
      <%=f.select :category, [["Problem Solving"],["Data Sufficiency"],["Critical Reasoning"],["Reading Comprehension"], ["Sentence Correction"]]%>
    </div>
    <br>
    <div class="topics-imput collection">
    <%=f.label :math_topic, label:'what is the (math) topic of the question '%>
    <%=f.select :math_topic, collection: [] %>
    <%=f.label :grammar_topic, label:'what is the (grammar) topic of the question'%>
    <%=f.select :grammar_topic, [] %>
    </div>
    <div class="title-imput string">
      <%=f.label :title, label:"what is the title of the question"%>
      <%=f.text_field :title %>
    </div>
    <br>
    <div class="difficulties-imput collection">
      <%=f.label :difficulties,label:"what is the difficulties of the question"%>
      <%=f.select :difficulties, [["300-500"],["500-600"],["600-700"],["700-800"]]   %>
    </div>
    <br>
      <% if @question.is_sentence_correction?%>
        <%= form_for(@question, method: "get") do |f| %>
          <div id="sent-cor-imput string"  >
            <%=f.label :sc_part_1, label:"begining part of the passage"%>
            <%=f.text_field :sc_part_1, autofocus: true, as: :text %>
            <%=f.label :sc_underline_part, label:"what is the sentense/passage to correct"%>
            <%=f.text_field :sc_underline_part, autofocus: true, as: :text %>
            <%=f.label :sc_part_2, label: "ending part of the passage"%>
            <%=f.text_field :sc_part_2, autofocus: true %>
          </div>
        <%end%>
      <%else%>
        <%= form_for(@question) do |f| %>
          <div id="content-imput string" class="section string">
            <%=f.label :content, label:"what is the content of the question"%>
            <%=f.text_field :content, autofocus: true, as: :text %>
          </div>
        <%end%>
      <%end%>
    <% if @question.is_reading_comprehension?%>
        <%= form_for(@question, method: "get") do |f| %>
          <div class="text-imput string">
          <%= f.label :text, label:"What is the text to read" %>
          <%= f.text_area :text, as: :text, autofocus: true, label:"What is the text to read" %>
          </div>
        <%end%>
    <%end%>
    <br>
    <br>
    <h1>Possible Answers</h1>
    <div class="answer-imput string">
      <%if @question.is_data_sufficiency? %>
        <%= form_for(@question,method: "get") do |f| %>
          <%=f.text_area :answer_1, input_html: {value: "statement (1) BY ITSELF is sufficient, but statement (2) by itself is not."} %>
          <% @question.answer_1 = "statement (1) BY ITSELF is sufficient, but statement (2) by itself is not." %>
          <%=f.text_area :answer_2, input_html: {value: "statement (2) BY ITSELF is sufficient, but statement (1) by itself is not."} %>
          <% @question.answer_2 = "statement (2) BY ITSELF is sufficient, but statement (1) by itself is not." %>
          <%=f.text_area :answer_3, input_html: {value: "neither statement BY ITSELF is sufficient but the two statements COMBINED are sufficient"} %>
          <% @question.answer_3 = "neither statement BY ITSELF is sufficient but the two statements COMBINED are sufficient" %>
          <%=f.text_area :answer_4, input_html: {value: "EACH statement BY ITSELF is sufficient"} %>
          <% @question.answer_4 = "EACH statement BY ITSELF is sufficient" %>
          <%=f.text_area :answer_5, input_html: {value: "NEITHER statement is sufficient BY ITSELF or COMBINED"} %>
          <% @question.answer_5 = "NEITHER statement is sufficient BY ITSELF or COMBINED" %>
        <%end%>
      </div>
      <%else%>
        <%= form_for(@question, method: "get") do |f| %>
           <div class="answer-imput string">
            <%=f.text_area :answer_1, autofocus: true, as: :text %>
            <%=f.text_area :corr_1 %>
            <br>
            <%=f.text_area :answer_2, autofocus: true, as: :text %>
            <%=f.text_area :corr_2 %>
            <br>
            <%=f.text_area :answer_3, autofocus: true, as: :text %>
            <%=f.text_area :corr_3 %>
            <br>
            <%=f.text_area :answer_4, autofocus: true, as: :text %>
            <%=f.text_area :corr_4 %>
            <br>
            <%=f.text_area :answer_5, autofocus: true, as: :text %>
            <%=f.text_area :corr_5 %>  
          </div>
        <%end%>
      <%end%>
      <div class="actions">
        <%= f.submit  %>
      </div>
      <%end%>
   
