<p id="notice"><%= notice %></p>
<h1>Title</h1>
<p><%= @question.title %></p>
<h1>Content</h1>

<p>
	<% if @question.is_sentence_correction? %>
		<%= @question.sc_part_1%> <u><%=@question.sc_underline_part%></u> <%= @question.sc_part_2 %>
	<% else%>	
		<%= @question.content %>
	<%end%>
</p>
<p><%= @question.text %></p>
<h1>Possible Answer</h1>
<p>A. <%= @question.answer_1 %></p>
<p>B. <%= @question.answer_2 %></p>
<p>C. <%= @question.answer_3 %></p>
<p>D. <%= @question.answer_4 %></p>
<p>E. <%= @question.answer_5 %></p>
<br>


<%= link_to 'Edit question', edit_question_path(@question) %> |
<%= link_to 'Back to question list', questions_path %>
