<p id="notice"><%= notice %></p>
<h1>Title</h1>
<p><%= @question.title %></p>
<h1>Content</h1>
<p><%= @question.content %></p>




<%= link_to 'Edit question', edit_question_path(@question) %> |
<%= link_to 'Back to question list', questions_path %>
