<%= simple_form_for(@test) do |f| %>
    <% if @test.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>
        <ul>
          <% @test.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %> 

    <%=@fquestion.difficulties%>
    <div>
    <%=@fquestion.content %>
    </div>
    <table>
      <tbody>
      <tr>
        <td><%=f.input :us_answer1, label: false%></td>
        <td><%=@fquestion.answer_1 %></td>
      </tr>
      <tr>
        <td><%=f.input :us_answer2, label: false%></td>
        <td><%=@fquestion.answer_2 %></td>
      </tr>
      <tr>
        <td><%=f.input :us_answer3, label: false%></td>
        <td><%=@fquestion.answer_3 %></td>
      </tr>
      <tr>
        <td><%=f.input :us_answer4, label: false%></td>
        <td><%=@fquestion.answer_4 %></td>
      </tr>
      <tr>
        <td><%=f.input :us_answer5, label: false%></td>
        <td><%=@fquestion.answer_5 %></td>
      </tr>
      </tbody>
    </table>
  <% end %>
